<img src="assets/schachfiguren/turm-s.png" alt="turm-s"
     *ngIf="figure?.type === 'turm' && figure?.color === 'black'">

<img src="assets/schachfiguren/turm-w.png" alt="turm-w"
     *ngIf="figure?.type === 'turm' && figure?.color === 'white'">

<img src="assets/schachfiguren/pferd-s.png" alt="pferd-s"
     *ngIf="figure?.type === 'pferd' && figure?.color === 'black'">

<img src="assets/schachfiguren/pferd-w.png" alt="pferd-w"
     *ngIf="figure?.type === 'pferd' && figure?.color === 'white'">

<img src="assets/schachfiguren/laeufer-s.png" alt="laeufer-s"
     *ngIf="figure?.type === 'laeufer' && figure?.color === 'black'">

<img src="assets/schachfiguren/laeufer-w.png" alt="laeufer-w"
     *ngIf="figure?.type === 'laeufer' && figure?.color === 'white'">

<img src="assets/schachfiguren/dame-s.png" alt="dame-s"
     *ngIf="figure?.type === 'dame' && figure?.color === 'black'">

<img src="assets/schachfiguren/dame-w.png" alt="dame-w"
     *ngIf="figure?.type === 'dame' && figure?.color === 'white'">

<img src="assets/schachfiguren/koenig-s.png" alt="koenig-s"
     *ngIf="figure?.type === 'koenig' && figure?.color === 'black'">

<img src="assets/schachfiguren/koenig-w.png" alt="koenig-w"
     *ngIf="figure?.type === 'koenig' && figure?.color === 'white'">


<img src="assets/schachfiguren/bauer-s.png" alt="bauer-s"
     *ngIf="figure?.type === 'bauer' && figure?.color === 'black'">

<img src="assets/schachfiguren/bauer-w.png" alt="bauer-w"
     *ngIf="figure?.type === 'bauer' && figure?.color === 'white'">
